#hero {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../images/coverimageone.jpg);
  background-position: center;
  background-size: cover;
}

.nav {
  padding: 20px;
}

.nav li {
  margin-left: 3rem;
  display: inline-flex
} 

.color .active a {
  color: whitesmoke;
  transition: all 250ms ease;
}


