#hero {
  height: auto;
  width: 100%;
  margin-bottom: 35px;
 /* Photo by <a href="https://unsplash.com/@alesnesetril?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ales Nesetril</a> on <a href="https://unsplash.com/s/photos/technology?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
  background-image: url(../images/unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.nav {
  padding: 20px;
}

.nav li {
  margin-left: 3rem;
  display: inline-flex;
} 

.color .active a {
  color: whitesmoke;
  font-weight: bold;
}


